html, body {
	scroll-behavior: smooth;
	font-family: 'Libre Baskerville', serif;
}

.btn {
	border-radius: 1.5;
}

.navbar {
	background-color: #23415C;
	font-size: 1.2em;
	border: none;
}

.navbar-brand, .nav-link {
	color: white;
}

.navbar-brand:hover, .nav-link:hover {
	color: #bdbdbd;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: white;
} 

/*#home {
	background: url(../imgs/background.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
	color: white;
	font-style: italic;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
}*/

#about {
	padding-top: 140px;
}

.padding {
	padding: 80px 0;
}

.padding img {
	width: 100%;
}

.decoration {
	color: #4d93d1;
	font-weight: 600;
}

#experience {
	background-color: #f0f1f2;
}

h6 {
	font-style: italic;
}

.project {
	padding-bottom: 5%;
}

.special {
	font-style: italic;
}

h2 {
	padding-bottom: 5%;
	font-size: 3em;
}

.card-title {
	font-weight: bold;
}

.card-text .fa {
	float: right;
}

.card-text .fa {
	font-size: 25px;
	color: #000000;
	padding: 0px;
}

.card-text .fa:hover {
	color: #4f4f4f;
	text-decoration: none;
}

.padding .card-text img {
	width: 30px;
}

.card-text img {
	float: right;
	padding-right: 5px;
}

/*#fixed {
	background: url(../imgs/campground.jpeg) no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size: cover;
}*/

footer {
	width: 100%;
	background-color: #23415C;
	padding: 5% 5% 10% 5%;
	color: #FFFFFF;
}

.col h3 {
	padding-bottom: 2%;
}

.email {
	color: white;
}

.email:hover {
	color:  #bdbdbd;
}

.fa {
	padding: 15px;
	font-size: 25px;
	color: #FFFFFF;
}

.fa:hover {
	color: #bdbdbd;
	text-decoration: none;
}

@media (max-width: 768px) {
	.landing-text h1 {
		font-size: 300%;
	}

	h4 {
		padding-top: 5%;
	}

	#about h2 {
		padding-top: 5%;
	}

	.fa {
		font-size: 20px;
		padding: 10px;
	}

}